@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
}

h2 {
	border: 1px solid var(--black, black);
	border-radius: 0.4rem;
	padding: 0.4rem;
	margin: 0px;
	margin-bottom: 1rem;
	background-color: var(--gray-dark, dimgray);
	color: var(--light, white);
	
}

#Contact h2 {
	border: none;
	background-color: none;
}

#Contact textarea {
	height: 8rem;
}

.invalid-feedback {
	background-color: var(--danger, red);
	color: var(--light, white);
	border-radius: 0.25rem;
	padding: 0 1em;
}

.tag {
	background-color: var(--light, white);
	margin: 0px 2px;
	padding: 1px;
	border-radius: 3px;
	white-space:nowrap;
}

.jumbotron {
	position:relative;
	background: none;
	margin-top:56px;
	background: url('../images/coding.jpg') center no-repeat;
	background-size: cover;
	height: calc(100% - 56px);
}

.card {
	margin-top:3rem;
	box-shadow: 5px 5px 8px var(--gray, silver), 2px 2px 5px var(--gray-dark, dimgray);
}

.card-empty {
	background: none;
	border: none;
	box-shadow: none;
}

.card-footer {
	height: 73px;
}

.card-header {
	background-color: rgba(52,58,64,0.9);
	color: var(--light, white);
	margin: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	border-radius: 0.25rem 0.23rem 0 0;
}


.card-img-overlay {
	top: 50px!important;
	bottom: 73px!important;
	background-color: rgba(52,58,64,0.9);
	color: var(--light, white);
	display:none;
	padding-top: 5px;
}

.card:hover .card-img-overlay {
	display:block;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.text-stroked-dark {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-stroked-light {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}